* {
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: sans-serif; }

h1 {
  color: #5f2b00;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-bottom: 0 !important; }

li {
  list-style: none; }

.contenedor-1 {
  max-width: 1650px;
  margin: 0 auto !important; }

@media screen and (max-width: 1200px) {
  .reverse {
    flex-direction: column-reverse; } }

/*General Body */
.articulo-main {
  min-height: 55vh; }
  .articulo-main .historia {
    border-width: 5px;
    background-color: white;
    padding: 1em;
    color: black;
    margin: 2rem auto;
    font-size: 1.2rem;
    z-index: 1;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.main-banner {
  background-color: #f4f4f4;
  width: 100%; }
  .main-banner .banner-flex {
    display: flex;
    max-width: 1100px;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto; }

.header-background {
  width: 100%;
  min-height: 100vh;
  background-image: url("../img/Corralon1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .header-background .header-flex {
    max-width: 1098px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 75vh; }
    .header-background .header-flex h1 {
      background-color: #c80808;
      color: #f4f4f4;
      min-height: 20vh;
      display: grid;
      place-content: center;
      padding: 0 5%;
      border-radius: 3px;
      box-shadow: 14px 4px 4px #00000079; }
      @media screen and (max-width: 750px) {
        .header-background .header-flex h1 {
          font-size: 1.7rem;
          text-align: center; } }

.fondone {
  width: 100%;
  height: 100%; }

/* MAIN HOME */
#mainindex {
  background: linear-gradient(to right, #ffffff, #e9e9e9, #f3f3f3); }

.fondo {
  align-items: center;
  justify-content: center;
  width: 1350px; }

.fondo1 {
  margin-left: auto;
  margin-right: auto;
  display: block; }

.h3 {
  color: #be0808;
  margin: 2rem auto;
  font-size: 2.4rem; }

.h3a {
  color: #7a1706;
  column-gap: 1px; }

.h11 {
  background: #7a1706;
  color: #f4f4f4;
  font-size: 30px;
  text-align: center;
  padding: .5em; }

.contactos {
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

.formulario-contacto {
  padding: 1em 0; }
  .formulario-contacto button {
    outline: none;
    border-radius: 3px;
    border: none;
    padding: .3em .6em; }

.formulario-contacto,
.formulario-contacto .form-group {
  max-width: 450px;
  margin: 0 auto; }

.form-group {
  padding: .5em 1em;
  text-align: left; }

.bodycontacto {
  background-image: url("../img/fondo contacto.jpg");
  background-size: cover;
  width: 100%;
  height: 100%; }

.google-iframe {
  min-height: 50vh; }

.h3contacto {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  padding: 20px;
  text-decoration-line: underline; }

/* HEADER */
.header {
  font-size: 1.2rem; }
  .header .logo {
    font-weight: bold;
    align-items: center;
    text-decoration: none;
    color: #ffc400;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    font-size: 1.8em;
    padding: 0.5rem 1rem;
    position: relative; }
    .header .logo::after {
      content: '';
      display: block;
      width: 3px;
      position: absolute;
      height: 45px;
      background-color: #ffc400;
      right: 0; }
  .header .nav1 {
    display: flex;
    justify-content: space-around;
    max-width: 1098px;
    margin: 0 auto;
    flex-wrap: wrap;
    background-color: #be0808;
    min-width: 100%; }
    @media screen and (max-width: 850px) {
      .header .nav1 {
        display: none; } }
    .header .nav1 .menu-icon {
      display: none;
      padding: 0.5rem 1rem;
      color: #f4f4f4; }

.nav1-link {
  color: white;
  text-decoration: none;
  padding: 4px 8px;
  border-radius: 3px; }
  .nav1-link:hover {
    background-color: #f4f4f4;
    color: #be0808;
    transition: 0.5s;
    text-decoration: none; }

.nav-menu {
  display: flex;
  margin-right: 40px;
  list-style: none; }
  .nav-menu .nav-menu-item {
    font-size: 14px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    font-weight: bold;
    width: max-content; }

@media only screen and (max-width: 767px) {
  .menu-icon {
    display: block;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 70px; }
  .nav-menu {
    width: 100%;
    margin-top: 1rem; }
  .nav-menu {
    display: block; }
  .nav-menu-item {
    display: none;
    padding: 0.5rem 0;
    transition: all 0.4s linear;
    border-radius: 5px; }
  .logo {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-left: 30px; }
  .header {
    text-align: center; }
  .nav1 ul {
    list-style: none; } }

@media only screen and (max-width: 767px) and (min-width: 768px) {
  .logo {
    font-size: 0.5rem;
    margin-top: 10px;
    margin-left: 10px; }
  .nav1 {
    max-width: 40%; } }

.site-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transition: all .8s ease;
  z-index: 40;
  background-color: #f4f4f4;
  padding: 1em 9.2%;
  box-shadow: 2px 2px 2px #00000010; }
  @media screen and (min-width: 850px) {
    .site-navigation {
      display: none; } }
  .site-navigation .logo {
    padding: 0 1.5em;
    margin: 0 auto; }
    .site-navigation .logo .logo-img {
      display: flex;
      align-items: center;
      padding: .3em .5em;
      gap: .3em;
      background-color: #be0808;
      border-radius: 33px;
      color: #f4f4f4; }
      .site-navigation .logo .logo-img li {
        font-weight: 600;
        text-transform: uppercase;
        font-size: 1.2rem; }
    .site-navigation .logo .open-btn {
      display: none; }
  .site-navigation.nav-scrolled {
    top: 0;
    margin: 0;
    background-color: #f4f4f4;
    padding: 0 6.2%;
    box-shadow: 2px 2px 2px #00000046; }
    .site-navigation.nav-scrolled .navigation-links {
      padding: 0; }
      .site-navigation.nav-scrolled .navigation-links li .btn-white {
        color: #f4f4f4;
        background-color: #be0808; }
  .site-navigation .navigation-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-basis: 40%;
    padding: 1em 0;
    gap: 1em; }
    @media screen and (max-width: 850px) {
      .site-navigation .navigation-links {
        transform: translateX(250%);
        transition: all .8s;
        transition-delay: .1s; }
        .site-navigation .navigation-links.modal {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: fixed;
          inset: 0;
          padding: 1% 4%;
          background-color: #be0808;
          gap: 2em; }
          .site-navigation .navigation-links.modal li {
            list-style: none; }
            .site-navigation .navigation-links.modal li a {
              color: #f4f4f4; }
          .site-navigation .navigation-links.modal .close-btn {
            align-self: flex-end;
            justify-content: flex-end;
            display: block; }
            .site-navigation .navigation-links.modal .close-btn i {
              color: white;
              font-size: 2rem; }
        .site-navigation .navigation-links.opened {
          transform: translateX(0);
          background-color: #be0808; } }
    .site-navigation .navigation-links li a {
      color: #202020;
      text-transform: uppercase;
      font-weight: 400; }
  @media screen and (max-width: 850px) {
    .site-navigation {
      flex-direction: column;
      padding: 2em 0; }
      .site-navigation .logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: .5em; }
        .site-navigation .logo .open-btn {
          display: block;
          align-self: center;
          justify-self: flex-end; }
          .site-navigation .logo .open-btn .bar {
            display: block;
            background-color: black;
            height: 2px;
            width: 30px;
            margin: .3em 0; } }
  .site-navigation.opened {
    background-color: #be0808;
    padding: 13%; }
    .site-navigation.opened .open-btn .bar-1,
    .site-navigation.opened .open-btn .bar-3 {
      transition: all .3s ease; }
    .site-navigation.opened .open-btn .bar-1 {
      transform: translateY(0.6em); }
    .site-navigation.opened .open-btn .bar-3 {
      transform: translateY(-0.6em); }

.close-btn {
  display: none; }

@media screen and (max-width: 850px) {
  .site-navigation {
    padding: 0; } }

@keyframes fixed {
  from {
    transform: translateY(-15%);
    opacity: .3; }
  to {
    transform: translateY(0);
    opacity: 1; } }

/*Productos*/
.productos {
  background: linear-gradient(to right, #ffffff, #e9e9e9, #f3f3f3);
  width: 100%;
  font-size: 20px; }

.productosmain {
  text-align: center; }

#titleproducto {
  background-color: yellowgreen;
  width: 100%;
  height: 50px;
  text-align: center;
  padding-top: 0.5%;
  font-size: 2rem;
  font-style: calc(); }

.padre1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  padding: 3%; }
  @media screen and (max-width: 1350px) {
    .padre1 {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); } }
  .padre1 .producto {
    border: 1px solid black;
    font-weight: 600;
    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    height: 100%; }
  .padre1 .producto:nth-child(1) {
    background-color: #00801c; }
  .padre1 .producto:nth-child(2) {
    background-color: #3007c5; }
  .padre1 .producto:nth-child(3) {
    background-color: #c5044e; }
  .padre1 .producto:nth-child(4) {
    background-color: #10d5f8; }
  .padre1 .producto:nth-child(5) {
    background-color: #ff08ea; }
  .padre1 .producto:nth-child(6) {
    background-color: #ffbf10; }
  .padre1 .producto:nth-child(7) {
    background-color: chocolate; }
  .padre1 .producto:nth-child(8) {
    background-color: #538600; }
  .padre1 .producto:nth-child(9) {
    background-color: #1900fa; }
  .padre1 .producto:nth-child(10) {
    background-color: #9451ff; }
  .padre1 .producto:nth-child(11) {
    background-color: #ff3c00; }
  .padre1 .producto:nth-child(12) {
    background-color: black; }
  .padre1 .producto:nth-child(13) {
    background-color: #91007e; }
  .padre1 .producto:nth-child(14) {
    background-color: #7e3d0e; }
  .padre1 .producto:nth-child(15) {
    background-color: #d8e24f; }

#pdes {
  background: #7a1706;
  color: #f4f4f4;
  font-size: 30px;
  text-align: center;
  font-weight: bold; }

/*INSTRUCCIONES*/
.main-instrucciones {
  min-height: 100vh; }

.fondoins {
  background: url(../img/instruccionesjpg.jpg);
  background-size: 100%;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; }

/*Index*/
#padreindex {
  display: grid;
  width: 100%; }

/* INSTRUCCIONES-----------------------*/
th,
td {
  border: solid 1px black;
  padding: 20px;
  justify-content: center; }

.tabla2 {
  background-color: #7c746a;
  text-align: center;
  width: 600px;
  border-bottom: solid 6px #101010;
  font-family: initial;
  color: white;
  font-style: italic; }

.titulotabla {
  background-color: #2209ff;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px; }

.padregaleria {
  display: grid;
  background-color: #f4f4f4;
  grid-template-columns: repeat(2, 1fr);
  padding: 3em 1em;
  gap: 2em;
  text-align: center;
  place-content: center;
  justify-content: center;
  background: linear-gradient(to right, #ffffff, #e9e9e9, #f3f3f3);
  min-height: 100vh; }
  @media screen and (max-width: 1250px) {
    .padregaleria {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); } }

.pg {
  color: #202020;
  font-size: 1.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  max-width: 850px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 6px 4px 4px #00000079;
  position: relative; }
  .pg p {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    max-width: max-content;
    margin: auto;
    padding: .3em .5em;
    background-color: #f4f4f4;
    border: 2px solid #be0808; }
  .pg img {
    width: 100%;
    max-width: 650px;
    display: block;
    object-fit: cover;
    height: 100%;
    margin: 0 auto; }

.fototeca1 {
  text-align: center; }

@media screen and (max-width: 650px) {
  .titulotabla {
    display: none; } }

tbody {
  background-color: transparent; }

@media screen and (max-width: 650px) {
  tr {
    display: flex;
    flex-direction: column;
    margin: 1em;
    background-color: #be0808; } }

/* FOOTER */
footer {
  margin: 0px;
  width: 100%;
  background: #202020;
  color: #f4f4f4;
  padding-top: 10px; }

.contefull {
  width: 100%;
  padding: 10px;
  margin: 0 auto; }

.contebody {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto; }

.columna {
  max-width: 400px; }
  .columna p {
    color: #c7c7c7;
    margin-top: 14px; }

.rs {
  margin-top: 14px;
  display: flex;
  align-items: center; }
  .rs img {
    width: 30px;
    height: 30px; }
  .rs label {
    margin-top: 10px;
    margin-left: 10px;
    color: #c7c7c7; }

/* Footer.--------------------------------*/
.contefooter {
  max-width: 100%;
  background: #101010;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px; }

.copyright a {
  text-decoration: none;
  color: white;
  font-weight: bold; }

.Informacion a {
  text-decoration: none;
  color: white; }
