/* FOOTER */
footer {
    margin: 0px;
    width: 100%;
    background: #202020;
    color: $blanco;
  

}

.contefooter {
    padding: 2rem ;
}

.contefull {
    width: 100%;
    
    padding: 10px;
    margin: 0 auto;

}

.contebody {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
     padding: 4rem 2rem;
}

.contactos-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and(max-width: 768px) {
        flex-direction: column;
    }
}

.columna  {
    padding: 1.4em 0;
      max-width: 400px;
      h2 {
          font-size: 1.4rem;
      }
    p {
            color: #c7c7c7;
            margin-top: 14px;
    }

}





.rs {
    margin-top: 14px;
    display: flex;
    align-items: center;

    img {
        width: 30px;
        height: 30px;
    }
    label {
          margin-top: 10px;
          margin-left: 10px;
          color: #c7c7c7;
    }

}








/* Footer.--------------------------------*/
.contefooter {
    max-width: 100%;
    background: #101010;
    display: flex;
    justify-content: space-between;
        flex-wrap: wrap;
   

}

.copyright a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.Informacion a {
    text-decoration: none;
    color: white;

}


