/* FOOTER */
footer {
    margin: 0px;
    width: 100%;
    background: #202020;
    color: $blanco;
    padding-top: 10px;

}


.contefull {
    width: 100%;
    
    padding: 10px;
    margin: 0 auto;

}

.contebody {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}



.columna  {
      max-width: 400px;
    p {
            color: #c7c7c7;
            margin-top: 14px;
    }

}





.rs {
    margin-top: 14px;
    display: flex;
    align-items: center;

    img {
        width: 30px;
        height: 30px;
    }
    label {
          margin-top: 10px;
          margin-left: 10px;
          color: #c7c7c7;
    }

}








/* Footer.--------------------------------*/
.contefooter {
    max-width: 100%;
    background: #101010;
    display: flex;
    justify-content: space-between;
        flex-wrap: wrap;
    padding: 20px;

}

.copyright a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.Informacion a {
    text-decoration: none;
    color: white;

}


