.padregaleria {
    display: grid;
    background-color: $blanco;
    grid-template-columns: repeat(2, 1fr);
    padding: 3em 1em;
    gap: 2em;
    text-align: center;
    place-content: center;
    justify-content: center;
    @include gradient;
    min-height: 100vh;
    @media screen and(max-width: 1250px) {
        grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    }
}

.pg {
    color: #743513;
    font-size:1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    img {
        width:100%;
        max-width: 650px;
        display: block;
        object-fit: cover;
        height: 100%;
         margin: 0 auto;
    }

}


.fototeca1 {
    text-align: center;
}