.padregaleria {
    display: grid;
    background-color: $blanco;
    grid-template-columns: repeat(2, 1fr);
    padding: 3em 1em;
    gap: 2em;
    text-align: center;
    place-content: center;
    justify-content: center;
    @include gradient;
    min-height: 100vh;
    @media screen and(max-width: 1250px) {
        grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    }
}

.pg {
    color: $negro;
    font-size:1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    max-width: 850px;
    margin: 0 auto;
    border-radius: 5px;
       box-shadow: 6px 4px 4px #00000079;
    position: relative;
    p {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        max-width: max-content;
        margin: auto;
        padding: .3em .5em;
          background-color: $blanco;
      
            border: 2px solid $primario;
    }
    img {
        width:100%;
        max-width: 650px;
        display: block;
        object-fit: cover;
        height: 100%;
         margin: 0 auto;
    }

}


.fototeca1 {
    text-align: center;
}
.titulotabla {
    @media screen and(max-width: 650px) {
        display: none;
    }
}
tbody {
    background-color: transparent;
}
tr {
    @media screen and(max-width: 650px) {
        display: flex;
        flex-direction: column;
        margin: 1em ;
        background-color: $primario;
    }
}