/* HEADER */
.header {
    font-size: 1.2rem;
    .logo {
        font-weight: bold;
        align-items: center;
        text-decoration: none;
        color: rgb(255, 196, 0);
        font-family: 'Petit Formal Script', cursive;
        display: flex;
        justify-content: space-between;
        font-size: 1.8em;
        padding: 0.5rem 1rem;

    }
    .nav1 {
        display: flex;
        justify-content: space-around;
        max-width: 1098px;
        margin: 0 auto;
        flex-wrap: wrap;
        background-color: $primario;
        min-width: 100%;

        .menu-icon {
            display: none;
            padding: 0.5rem 1rem;
            color: $blanco;
        }

    }
}





.nav1-link {
    color: white;
    text-decoration: none;
     padding: 4px 8px;
     border-radius: 3px;
    &:hover {
          background-color: $blanco;
          color: $primario;
          transition: 0.5s;
          text-decoration: none;
    }
}





.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;

    .nav-menu-item {

        font-size: 14px;
        margin: 0 10px;
        line-height: 80px;
        text-transform: uppercase;
        font-weight: bold;
        width: max-content;

    }


}

@media only screen and (max-width:767px) {

    .menu-icon {
        display: block;
        cursor: pointer;
        margin-top: 20px;
        margin-right: 70px;

    }

    .nav-menu {
        width: 100%;
        margin-top: 1rem;
    }

    .nav-menu {
        display: block;

    }

    .nav-menu-item {
        display: none;
        padding: 0.5rem 0;
        transition: all 0.4s linear;
        border-radius: 5px;



    }

    .logo {
        font-size: 1.5rem;
        margin-top: 20px;
        margin-left: 30px;

    }

    .header {

        text-align: center;
    }

    .nav1 ul {
        list-style: none;
    }

    @media only screen and (min-width:768px) {
        .logo {
            font-size: 0.5rem;
            margin-top: 10px;
            margin-left: 10px;
        }

        .nav1 {
            max-width: 40%;
        }
    }
}


