/*Productos*/
.productos {
    @include gradient;


    width: 100%;
    font-size: 20px;


}

.productosmain {
    text-align: center;

}

#titleproducto {
    background-color: yellowgreen;
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 0.5%;
    font-size: 2rem;
    font-style: calc();
}

.padre1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    width: 100%;
    min-height: 100vh;

    text-align: center;
    padding: 3%;

    @media screen and(max-width: 1350px) {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .producto-fuera {
        font-weight: bold;
        border-radius: 3px;
        font-size: 2rem;
        padding: 1em ;
        box-shadow: 4px 4px 4px #0000004d;
    }
    .producto {
        font-weight: 600;
        color: white;
        text-align: center;
        font-size: 1.4rem;
        width: 100%;
        height: 100%;
        display: grid;
        place-content: center;

    }

    .producto-fuera:nth-child(1) {

        background-color: #00801c;

    }

    .producto-fuera:nth-child(2) {

        background-color: rgb(48, 7, 197);

    }

    .producto-fuera:nth-child(3) {

        background-color: #c5044e;

    }

    .producto-fuera:nth-child(4) {
        background-color: rgb(16, 213, 248);

    }

    .producto-fuera:nth-child(5) {
        background-color: rgb(255, 8, 234);

    }

    .producto-fuera:nth-child(6) {
        background-color: rgb(255, 191, 16);

    }

    .producto-fuera:nth-child(7) {
        background-color: chocolate;

    }

    .producto-fuera:nth-child(8) {
        background-color: rgb(83, 134, 0);

    }

    .producto-fuera:nth-child(9) {
        background-color: rgb(25, 0, 250);

    }

    .producto-fuera:nth-child(10) {
        background-color: rgb(148, 81, 255);

    }

    .producto-fuera:nth-child(11) {
        background-color: rgb(255, 60, 0);

    }

    .producto-fuera:nth-child(12) {
        background-color: rgb(61, 185, 24);

    }

    .producto-fuera:nth-child(13) {
        background-color: rgb(145, 0, 126);

    }

    .producto-fuera:nth-child(14) {
        background-color: rgb(126, 61, 14);

    }

    .producto-fuera:nth-child(15) {
        background-color: rgb(216, 226, 79);

    }
}

#pdes {
    background: rgb(122, 23, 6);
    color: $blanco;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
